---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    </div>
    <div class="post-area post comment">
      <!-- 多说评论框 start -->
      
      <!-- <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="foojay.github.io{{ page.url }}"></div> -->
      <!--PC和WAP自适应版-->
<div id="SOHUCS"  sid="{{ page.id }}"></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cytLEnhC0'; 
var conf = '88383c89369c3fe0865c87b893b55a27'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
    <!-- 多说评论框 end -->
      <!-- 多说评论框 end -->
    </div>
  </div>

  <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        索引
      </div>
      <div class="content-text"></div>
    </div>
	    <!--效果html开始-->
<div id="centered"> 
  <div id="html5-clock" ></div>
</div>
<script type="text/javascript">
    $(function(){
	
	clock2();
	
	});
		function clock2(){
	var config = {        		
		/*the name of the div containing the clock*/
		divId: "html5-clock",        		        
		/*set to false if you don't want to use the second hand*/		
		useSecondHand: "true",        		
		/*width and height of the clock*/
		clockWidthAndHeight: "200",      		
		/*location of the images*/
		clockFaceImg: "http://foojay.github.io/Home/bg/clockBg.png",
		hourHandImg: "http://foojay.github.io/Home/bg/hourHand.png",
		minuteHandImg: "http://foojay.github.io/Home/bg/minuteHand.png",
		secondHandImg: "http://foojay.github.io/Home/bg/secondHand.png", 
		/*location of the high res images for retina display*/
		clockFaceHighResImg: "http://foojay.github.io/Home/bg/clockBgHighRes.png",
		hourHandHighResImg: "http://foojay.github.io/Home/bg/hourHandHighRes.png",
		minuteHandHighResImg: "http://foojay.github.io/Home/bg/minuteHandHighRes.png",
		secondHandHighResImg: "http://foojay.github.io/Home/bg/secondHandHighRes.png",
		/*Set true to make hand move at steady speed*/
		smoothRotation: "false",        		
		/*speed of the second hand. Lower is faster. */
		/*Must be under 1000. */
		/*If smooth rotation is true, this does nothing.*/
		secondHandSpeed: "100"        		        		
	};        	
	var myhtml5Clock = new html5Clock(config);        
	}
</script> 
<!--效果html结束-->
  </div>
</div>